<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="themejunky.module_adsmanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"  />


    <application android:allowBackup="true" android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true">


            <activity android:name="themejunky.module_adsmanager.utils.LoadingProgressBarActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"/>
            <activity android:name="themejunky.module_adsmanager.managers.ManagerInterstitialAds"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"/>


        <activity
            android:screenOrientation="portrait"
            android:name="com.appnext.ads.interstitial.InterstitialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:screenOrientation="portrait"
            android:name="com.appnext.ads.fullscreen.FullscreenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity android:name="com.facebook.ads.AudienceNetworkActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true" />


        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            tools:replace="android:theme"

            />


        <!--Display.Io-->
        <activity android:name="io.display.sdk.DioActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name="io.display.sdk.DioTranslucentActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="io.display.sdk.device.PermissionsHandler" />

        <!-- Google Play Services -->
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


       <!-- AdColony-->
        <activity android:name="com.adcolony.sdk.AdColonyInterstitialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.adcolony.sdk.AdColonyAdViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <!-- Google Play Services -->
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />





    </application>

</manifest>
